<div class="container sign_up">
    <div class="row">
        <div class='col-md-3'></div>
            <div class="col-md-6">
                <div class="login-box well">
                    <%= form_for @user do |f| %>
                        <legend>Sign Up</legend>
                        <% if @user.errors.any? %>
                        <div class="error_messages">
                          <h5 id="error_message">Error Message:</h5>
                          <ul>
                            <% for message in @user.errors.full_messages %>
                            <li><%= message %></li>
                            <% end %>
                          </ul>
                        </div>
                        <% end %>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <%= f.text_field :email, placeholder: 'E-mail', id: 'email', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <%= f.text_field :username, placeholder: 'Username', id: 'username', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <%= f.password_field :password, placeholder: 'Password', id: 'password', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation">Confirm Password</label>
                            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
                        </div>
                        <div class="actions">
                            <%= f.submit class: "btn btn-default btn-login-submit btn-block m-t-md" %>
                        </div>
                        <div class="form-group">
                            <p class="text-center m-t-xs text-sm">Already have an account?</p>
                            <a href="/login/" class="btn btn-default btn-block m-t-md">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
