<div class="page-header">
  <h3><%=@post.title %> <small><%= @post.date_published %></small></h3>
  <p>
      <%= @post.body %>
  </p>

  <% if current_user %>
  <% if @post.user_id == current_user.id %>
    <ul class="list-inline list-unstyled">
        <li><span><%= link_to 'Edit Post', edit_post_path(@post) %></span></li>
        <li>|</li>
        <li><span><%= link_to 'Delete Post', delete_post_path(@post), method: :delete %></span></li>
    </ul>
  <% end %>
  <% end %>
</div>


<% @comments.each do |comment| %>
<div>
<ul class="list-group">
    <li class="list-group-item"><%= comment.body %>
    <small><% if comment.user %>
            <%= comment.user.username %>
            <%else %>
            Anonymous User
            <%end%>
            <%= comment.date_published %>
    </small>
    </li>
</ul>
  <% if current_user %>
  <% if comment.user_id == current_user.id %>
    <ul class="list-inline list-unstyled">
        <li><span><%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %></span></li>
        <li>|</li>
        <li><span><%= link_to 'Delete Comment', post_delete_comment_path(@post, comment), method: :delete %></span></li>
    </ul>
  <% end %>
  <%end %>
<%end%>
</div>

<div class = "">
    <h3>New Comment:</h3>
</div>
<%= render 'comments/form_comment' %>
<%= link_to 'Back', post_path(@post) %>
