<div class="page-header">
  <h3><%=@post.title %> <small><%= @post.date_published %></small></h3>
  <p>
      <%= @post.body %>
  </p>

  <% if current_user %>
  <% if @post.user_id == current_user.id %>
    <ul class="list-inline list-unstyled">
        <li><span><%= link_to 'Edit Post', edit_post_path(@post) %></span></li>
        <li>|</li>
        <li><span><%= link_to 'Delete Post', delete_post_path(@post), method: :delete %></span></li>
    </ul>
  <% end %>
  <% end %>
</div>


<% @post.comments.each do |comment| %>
<ul class="list-group">
    <li class="list-group-item"><%= comment.body %>
    <small><% if comment.user %>
            <%= comment.user.username %>
            <%else %>
            Anonymous User
            <%end%>
            <%= comment.date_published %>
    </small>
</li>
  </ul>
<%end%>

<div class="">
    <%= form_for [@post, Comment.new] do |f| %>
    <div>
        <%= f.label :body, "New comment:" %>
        <%= f.text_area :body %>

    </div>

    <%= f.submit "Add your comment!" %>
    <% end %>
</div>
