<!DOCTYPE html>
<html>
<head>
  <title>Il Foro Romano</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class ="navbar">
    <div class="container-fluid">
        <% if logged_in? %>
            <p> Ciao <%= current_user.username %>!</p>
                <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure you want to log out?'} %>
        <% else %>
            <%= link_to 'Log In', login_path %>
        <% end %>
    </div>
</nav>


<%= yield %>


</body>
</html>
